* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #02080c;
}

.father_container {
  background-color: #bae0fa;
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.container_1 {
  background-color: #178ad5;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

ol {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
img {
  width: 100px;
  height: auto;
}

.container_2 ol {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.picture_1 {
  width: 700px;
  height: auto;
}
.picture_2 {
  width: 300px;
  height: auto;
}

.container_3 {
  background-color: rgb(64, 34, 34);
  width: 800px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}
.container_3 ol {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.container_3 ol li img {
  width: 30px;
}
